h1 {
    text-align: center;
    background:url('images/h1server.jpg');
    /* background: #666666; */
    color: white;
}

h2 {
    color: #003333
}


body {
    background: #ffffff;
}

p {
    color: #004d4d;
}

.footer {
    position: relative;
    bottom: -200px;
    text-align: left;
    background: #003333;
    color: white;
}

table, td {
    border: 1px solid #003333;
    border-collapse: collapse;
    width: 60%;
    padding: 10px;
    width: auto;
}

tr:nth-child(even) {
    background-color: #ffe5cf;
    color: #003333;
}

tr:nth-child(odd) {
    color: #003333;
}

th {
    border: 1px solid #003333;
    border-collapse: collapse;
    background-color: #407f7f;
    color: #cfffff;
    padding: 10px;
}

/*
table:first-child {
    
    table-border: 1px solid #003333;
    border-collapse: collapse;
    width: 60%;
    padding: 10px;
}

table1.table border: 1px;
*/
/*
table.table1, table1.th, table1.td {
    border: 1px solid #003333;
    border-collapse: collapse;
    width: 60%;
    padding: 100px;
}
*/
nav {
    display: block;  
#   float: left;
    width: 850px;
    margin: 10px;
    padding: 0px;
    letter-spacing:0.1em;
    font-weight: bold;
    background: #ffe5cf;
} 

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    padding: 10px;
    border: solid;
    border-width: thin; 
}

nav a {
    text-decoration: none; 
}

nav a:link {
    color: #003333;
}

nav a:visited {
    color: #004d4d;
}

nav a:hover {
    color: #003333;
}

#validator {
    position: absolute;
    left: 10px;
    top: 600px;
}

#thumbnail {
    margin-left: auto;
    margin-right: auto;
    width: 10%; 
}

#layout {
    position: absolute;
    left: 180px
}

#wrapper {
    width: 80%;
    margin: auto;
    min-width: 850px;
    }
    
#leftcolumn {
    float: left;
    width: 150px;
}

#rightcolumn {
    margin-left: 155px;

}

.img {
    margin-left: auto;
    margin-right: auto;
}

.hcentered {
    display: block;
    margin-left: auto;
    margin-right: auto;
#    margin: 0 auto;
}

p.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 850px;
}

/*
#script {
    table border: none;
    border-color: green;
} */